<!DOCTYPE html>
<head>

</head>
<body>
    successfully booked!!!!!
    <p><a class="btn btn-primary btn-lg" href="/index" role="button">Home</a></p>      
    <br/>
    <p><a class="btn btn-primary btn-lg" href="/startpage" role="button">Starting Page</a></p>             
</body>